**/*.svg
package.json
/dist
.dockerignore
.eslintignore
*.png
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
CNAME
/build
/public
.vscode
